/* universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* outer container */
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  background-color: #fbfbfe;
  padding: 80px 0px;
  width: calc(100% - 250px);
  background-image: url("../../../public/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
  transition: all 0.2s ease-in-out;
}
.main-container-collapse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  background-color: #fbfbfe;
  padding: 80px 0px;
  width: calc(100% - 70px);
  background-image: url("../../../public/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
  transition: all 0.2s ease-in-out;
}

/* inner container */
.container {
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 50px 0;
  padding: 25px;
}

/* student details */
.student-details,
.fees-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
}

/* fees details */
.fees-details div,
.student-details div {
  width: 32%;
}

/* heading */
.section-header {
  font-size: 21px;
  margin-bottom: 11px;
  font-weight: 500;
}

/* sections */
.left-section,
.right-section {
  border: 1px solid #00000030;
  padding: 20px;
  border-radius: 5px;
}

/* input fields */
.pay-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pay-amount input {
  width: 21%;
}
.search-input {
  border: none;
}

.search-input:focus {
  background-color: none !important;
  border-color: none !important;
  box-shadow: none !important;
}

.search-container {
  position: relative;
  width: 100%;
  padding: 0px 15px;
  border: 1px solid #dee2e6;
  border-radius: 30px;
}

.autocomplete-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.autocomplete-results li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-results li:hover {
  background-color: #f0f0f0;
}
