/* universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* top navigation */
.topnav {
  width: calc(100% - 250px);
  margin-left: 250px;
  z-index: 1;
}

/* hamburger action */
.topnav-expand,
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 1rem;
  font-size: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: fixed;
  top: 0;
  transition: all 0.2s ease-in-out;
  background-color: #ffffff;
}

.topnav-expand {
  width: calc(100% - 70px);
  margin-left: 70px;
}

/* hamburger icon */
.menu {
  cursor: pointer;
}

/* right side */
.topnav-right {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

/* action icons */
.topnav-right .bell,
.topnav-right .share {
  cursor: pointer;
}
