/* universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* sidenav */
.sidenav {
  background-color: #343a40;
  z-index: 1;
  min-height: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 250px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

/* sidenav collapse */
.sidenav-collapse {
  background-color: #343a40;
  min-height: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 70px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

/* company & user details */
.brand-name,
.user-login {
  border-bottom: 1px solid #ffffff6b;
  margin: 0;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

/* company image */
.brand-name img {
  width: 50px;
}

/* navigation links container */
ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

/* navigation link */
ul li {
  font-size: 17px;
  width: 100%;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease;
  cursor: pointer;
}

/* navigation link container */
.nav-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 0.5rem 0.4rem;
  transition: width 0.3s ease-in-out;
  white-space: nowrap;
}

/* navigation dropdown */
.nav-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* sub menus */
.sub-item {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-size: 17px;
  padding: 0.5rem 0.8rem;
}

/* default navigation links */
.menu-item {
  display: block;
  transition: margin-left 0.3s linear, opacity 0.3s ease, visibility 0.3s ease;
}

/* navigation links on collapse */
.menu-item-collapse {
  display: none;
  transition: margin-left 0.3s linear, opacity 0.3s ease, visibility 0.3s ease;
}
