* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.add-container {
  border-radius: 4px;
  width: 53% !important;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 30px;
}
